<ul id="features">
<%- @features.each do |name, enabled| %>
  <li>
    <span class="feature_name"><%= name.to_s.humanize %></span>
    <input type='checkbox' class='hardstop' name='<%= name %>'<%= ' checked' if @overrides.enabled?(name) == false %>/>
    <input type='checkbox' class='feature' name='<%= name %>'<%= ' checked' if enabled %>/>
  </li>
<%- end %>
</ul>
